<!doctype html>
<html lang="en">
  <head>
    
    <link rel="icon" href="{{url_for('static', filename='/assets/favicon.ico')}}">

    <title>Admin panel</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" >

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/sign-in.css')}}" rel="stylesheet">
  </head>

  <body class="text-center">

 <link href="{{url_for('static', filename='css/sign-in.css')}}" rel="stylesheet">
 
    <form class="form-signin" action="/dashboard" method="post">
      {% set fname = '/assets/img/'+  params['login_image']  %}
      <img class="mb-4" src="{{url_for('static', filename=fname)}}" alt="" width="98" height="98">
      <h1 class="h3 mb-3 font-weight-normal">Admin Login</h1>
      <label for="uname" class="sr-only">Email address</label>
      <input type="text" id="uname" name="uname" class="form-control" placeholder="UserName" required autofocus>
      <label for="pass" class="sr-only">Password</label>
      <input type="password" id="pass" name="pass" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© <a  href="/">{{params["website_title"]}}</a> 2023-2024</p>
    </form>


 </body>
</html>